# Database (sama dengan PamSR)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tenant_db
DB_USER=tenant_db_user
DB_PASSWORD=tenant_db_password

# JWT Secret
SECRET_KEY=your_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Developer
DEV_USER_WEB=tenant_dev_user
DEV_PASSWORD_WEB=tenant_dev_123
DEV_NAMA=Developer
